.advantages-section  {
	background-color: #f5f5f5;

    .image {
        img {
            width: 100%;
            height: auto;
			border-radius: 2px;
        }
    }

	.advantages {
        margin-top: 40px;

        .item  {
            margin-bottom: 50px;

            .contain {
                text-align: center;
                padding: 10px;
				height: 370px;
                width: 100%;
                box-shadow: 0 3px 18px 0 rgba(80, 124, 120, 0.3);

                .img {
            	     margin-bottom: 10px;
                	height: 100px;
                    position: relative;

                    .circle {
                        left: 50%;
                        transform: translate(-50%, -50%);
                        position: absolute;
                        top: 50%;
                        height: 60px;
                        width: 60px;
                        border: 2px solid $primary-color;
                        border-radius: 50%;

                        i {
                            font-size: 24px;
                            padding: 15px;
                            border-radius: 50%;
                            color: #373737;
                        }
                    }
                }

                p {
                    padding: 10px;
                    line-height: 22px;
                    font-size: 14px;
                    color: #696f6f;
                }

                h3 {
                    margin: 0;
                    font-size: 18px;
                    font-weight: 600;
                    color: $primary_color;
                }
            }
         }
	}
}
