
.ecosystem-section {
	background-color: #fff;

	h3 {
		color: #373737;
		text-transform: none;
		font-size: 18px;
		font-weight: 600;
		line-height: 1.5;
	}

    .ecosystem-item {
		img {
			width: 100%;
		}
	}
}
