.tdistribution-section  {
	background-color: #F5F5F5;

	h3 {
        margin: 0 0 3px;
		color: #373737;
		text-transform: none;
		font-size: 18px;
		font-weight: 600;
		line-height: 1.5;
    }

    p {
		color: #696f6f;
    	margin-bottom: 0;
    	font-size: 14px; 
    }

	.img-te {
		width: 100%;
		margin-bottom: 20px;
	}

	 .social-numb-list  {
		 	list-style: none;
		 li {
 			padding-left: 1.3em;
 			color: #696f6f;
 			font-size: 14px;
 		}

 		li:before {
 			content: "\f00c"; /* FontAwesome Unicode */
 			font-family: FontAwesome;
 			display: inline-block;
 			color: #696f6f;
 			margin-left: -1.3em; /* same as padding-left set on li */
 			width: 1.3em; /* same as padding-left set on li */
 		}

		 box-shadow: 0 10px 80px 1px #e5e5e5;

		color: #fff;
		padding: 30px;
		/* padding: 20px 20px; */
		margin: 30px 0;

	 }

	 .options {
	 	margin-bottom: 0px;
	 	list-style: none;
	 	color: #373737;
	 	background: #fff;
	 	padding: 20px;

	 	.more {
	 		margin-left: 16px;
	 	}

	 	li {
	 		padding-left: 1.3em;
	 		color: #696f6f;
	 		font-size: 14px;
	 	}

	 	li:before {
	 		content: "\f105"; /* FontAwesome Unicode */
	 		font-family: FontAwesome;
	 		display: inline-block;
	 		color: #696f6f;
	 		margin-left: -1.3em; /* same as padding-left set on li */
	 		width: 1.3em; /* same as padding-left set on li */
	 	}
	 }
}
